{% for project in site.data.projects %}
  {% if project.project == "bosco 2023" %}
    {% assign heading = project %}
  {% endif %}
{% endfor %}
{% for topic in site.data.bosco2023 %}
  {% if topic.topic == "objectives" %}
    {% assign obj = topic %}
  {% endif %}
  {% if topic.topic == "testament" %}
    {% assign testament = topic %}
  {% endif %}
  {% if topic.topic == "activities" %}
    {% assign activities = topic %}
  {% endif %}
  {% if topic.topic == "text" %}
    {% assign paragraphs = topic.paragraphs %}
  {% endif %}

{% endfor %}

<div class="page-section px-4 pb-5">
  <div class="c4-feature row align-items-center">

    <h1 class="text-uppercase font-weight-bold"
        id="pe-urmele-lui-emil-racoviță"><strong>{{ heading.area[page.lang] }}</strong></h1>

    <h2 class="text-uppercase"><strong>{{site.data.xlate.theme[page.lang]}}</strong>:
      <span class="text-uppercase">{{ heading.theme[page.lang] }}</span></h2>

    <h3 id="activități-de-vară-la-fundația-giovanni-bosco">{{ heading.title[page.lang] }}</h3>

    <p><em>{{ obj.thanks[page.lang] }}.</em></p>

  </div>
</div>


<div class="page-section px-4">
  <div class="c4-feature row align-items-center">
    <p>{{ paragraphs.p1[page.lang] }}</p>
    <p>{{ paragraphs.p2[page.lang] }}</p>
  </div>

  <div class="c4-feature row align-items-center">
    <div class="col-1">&nbsp;</div>
    <div class="col-10">
      {{ testament.caption[page.lang] }}
    </div>
    <div class="col-1">&nbsp;</div>
  </div>

  <div class="c4-feature row align-items-center">
    <p>{{ paragraphs.p3[page.lang] }}</p>
    <p>{{ paragraphs.p4[page.lang] }}</p>
    <p>{{ paragraphs.p5[page.lang] }}</p>
  </div>

  <div class="c4-feature row align-items-center">
    <figure class="c4-figure img-fluid ">
      <img src="/assets/events/bosco2023/photo01.jpg" alt="microscope"
           class="c4-figure img-fluid" width=" 100% " /></figure>
  </div>


  <div class="c4-feature row align-items-center">
    <p>{{ paragraphs.p6[page.lang] }}</p>
  </div>

  <div class="c4-feature row align-items-center">

    <div class="col-lg-6 col-md-6 col-sm-12">
      <figure class="c4-figure img-fluid float-start ">
        <img src="/assets/events/bosco2023/2.teren marin.png" alt="maps"
             class="c4-figure img-fluid float-start" width="100%" />
      </figure>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <p>{{ paragraphs.p7[page.lang] }}</p>
    </div>
  </div>

  <div class="c4-feature row align-items-center">

    <div class="col-lg-6 col-sm-12">
      <p>{{ paragraphs.p8[page.lang] }}</p>

      <p>{{ paragraphs.p9[page.lang] }}</p>
    </div>

    <div class="col-lg-6 col-sm-12">

      <figure class="c4-figure img-fluid float-end ">
        <img src="/assets/events/bosco2023/3.desene.png" alt="sketches"
             class="c4-figure img-fluid float-start" /></figure>
    </div>

  </div>

  <div class="c4-feature row align-items-center">
    <div class="col-lg-6 col-sm-12">
      <figure class="c4-figure img-fluid float-start ">
        <img src="/assets/events/bosco2023/4.carte si noduri.png" alt="knots"
             class="c4-figure img-fluid float-start"/>
      </figure>
    </div>
    <div class="col-lg-6 col-sm-12">
      <p>{{ paragraphs.p10[page.lang] }}</p>

      <p>{{ paragraphs.p11[page.lang] }}</p>

    </div>
  </div>
  <div class="c4-feature row align-items-center">
    <p>{{ paragraphs.p12[page.lang] }}</p>
  </div>

  <div class="c4-feature row align-items-center">
    <figure class="c4-figure img-fluid ">
      <img src="/assets/events/bosco2023/5a.terarii.png" alt=""
           class="c4-figure img-fluid" width="100%"/></figure>

    <p>{{ paragraphs.p13[page.lang] }}</p>

    <figure class="c4-figure img-fluid ">
      <img src="/assets/events/bosco2023/5b.terarii.png" alt="terarium"
           class="c4-figure img-fluid" width="100%"/></figure>
  </div>

  <div class="c4-feature row align-items-center">

    <div class="col-lg-6 col-md-6 cl-sm-12">
      <figure class="c4-figure img-fluid ">
        <img src="/assets/events/bosco2023/6.ierbar.png" alt="ierbar"
             class="c4-figure img-fluid" />
      </figure>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <p>{{ paragraphs.p14[page.lang] }}</p>
    </div>
  </div>

  <div class="c4-feature row align-items-center">
      <p>{{ paragraphs.p15[page.lang] }}</p>
      <p>{{ paragraphs.p16[page.lang] }}</p>
      <p>{{ paragraphs.p17[page.lang] }}</p>

  </div>

  <div class="c4-feature row align-items-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <figure class="c4-figure img-fluid float-end ">
        <img src="/assets/events/bosco2023/7.copaci.png" alt="trees"
             class="c4-figure img-fluid float-start" />
      </figure>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <p>{{ paragraphs.p18[page.lang] }}</p>
      <p>{{ paragraphs.p19[page.lang] }}</p>
    </div>
  </div>


  <div class="c4-feature row align-items-center">
      <p>{{ paragraphs.p20[page.lang] }}</p>
      <p>{{ paragraphs.p21[page.lang] }}</p>
  </div>

  <div class="c4-feature row align-items-center">
    <p>{{ paragraphs.p22[page.lang] }}</p>
  </div>

  <div class="c4-feature row align-items-center">
    <div class="col-1">&nbsp;</div>
    <div class="col-10">
      <blockquote>
        <p>{{ paragraphs.p23[page.lang] }}</p>
      </blockquote>
    </div>
    <div class="col-1">&nbsp;</div>
  </div>

  <div class="c4-feature row align-items-center">
    <p>{{ paragraphs.p24[page.lang] }}</p>
    <p class="underlined-links">{{ paragraphs.p25[page.lang] }}</p>
  </div>

  <div class="c4-feature row align-items-end">
    <div class="p-2">&nbsp;</div>
    <div class="ml-auto">
      <p class="text-end"><em><span class="text-capitalize">{{ site.data.xlate.photos[page.lang] }}</span>:
          Carmen Mertoiu, Fundația Giovanni Bosco</em><br/>
        <em><span class="text-capitalize">{{ site.data.xlate.text[page.lang] }}</span>: Oana Marcu, Fundația Racoviță</em><br /></p>
    </div>
  </div>

  <hr />

  <div class="c4-feature row align-items-center">

    <div class="footnotes" role="doc-endnotes">
      <ol>
        <li id="fn:1" role="doc-endnote">
          <p class="underlined-links">{{ paragraphs.p26[page.lang] }}</p>
        </li>
        <li id="fn:2" role="doc-endnote">
          <p>{{ paragraphs.p27[page.lang] }}</p>
        </li>
      </ol>
    </div>
  </div>

</div>
