<div class="container align-items-center">
  {% for topic in site.data.bosco2023 %}
  {% if topic.topic == "heading" %}
    {% assign heading = topic %}
  {% endif %}
  {% if topic.topic == "theme" %}
    {% assign theme = topic %}
  {% endif %}
  {% if topic.topic == "objectives" %}
    {% assign obj = topic %}
  {% endif %}
  {% if topic.topic == "testament" %}
    {% assign testament = topic %}
  {% endif %}
  {% if topic.topic == "activities" %}
    {% assign activities = topic %}
  {% endif %}
  {% endfor %}

  <h1 class="c4-title">{{ heading.heading[page.lang] }}<br/>
    <span>{{ heading.location }}, {{ heading.date[page.lang] }}</span>
  </h1>

  <div class="row px-5 gx-5">
    <h2> <strong class="text-uppercase">{{ theme.caption[page.lang]}}</strong>: {{ theme.theme[page.lang] }} </h2>
    <p>{{ theme.people[page.lang] }}</p>
  </div>

  <div class="row px-5 gx-5">
    <h3> <strong class="text-uppercase">{{ obj.caption[page.lang]}}</strong>: {{ obj[page.lang] }} </h3>
  </div>

  <div class="row px-5 gx-5">
    <h3> <strong class="text-uppercase">{{ testament.heading[page.lang]}}</strong></h3>
   <p>{{ testament.caption[page.lang] }}</p>
  </div>

  <div class="row p-5 g-5">
    <h3> <strong class="text-uppercase">{{ activities.caption[page.lang]}}</strong>: </h3>
     {%- for card in activities.activities -%}
      <div class="card border-light col-lg-4 col-md-6 col-sm-12 px-5 gx-5">
        <a href="/{{ page.lang }}/{{ card.link }}">
          <img src="{{ card.image }}"
             class="ratio ratio-21x9 card-img-top img-fluid"
               alt="{{ card[page.lang] }}">
          </a>
        <div class="card-body">
          <h2 class="card-title fw-bold text-uppercase">{{ card.heading[page.lang] }}</h2>
          <!-- <p class="card-text">{{ card.caption[page.lang] }}</p> -->
          <a href="/{{ page.lang }}/{{ card.link }}" class="btn btn-light text-uppercase">
            {{ site.data.xlate.readmore[page.lang] }}
          </a>
        </div>
      </div>
      {%- endfor -%}
  </div>
</div>
