{% for topic in site.data.bosco2023 %}
  {% if topic.topic == "activities" %}
    {% for activity in topic.activities %}
      {% if activity.title == "microscope"%}
        {% assign act = activity %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<div class="page-section px-4 py-lg-3">
  <h1 class="c4-feature-title">{{ act.heading[page.lang] }}</h1>
  <div class="c4-feature row justify-content-lg-center p-4">
    <figure class="c4-feature-img col-lg-6 col-md-12 px-0">
      <img src="/assets/images/Racovita-pe-Belgica-front-page.jpg"
           class="img-fluid">
      <!-- <figcaption class="black-photo-caption text-uppercase p-3">
           {{ act.caption[page.lang] }}
      </figcaption> -->
    </figure>
    <div class="col-lg-1 col-md-0 col-md-0">&nbsp;</div>
    <div class="col-lg-4 col-md-12 col-sm-12 pt-lg-4">
      <!-- <h1 class="c4-feature-title pt-5">{{ section.header[page.lang] }}</h1> -->
      <p>"{{ act.caption[page.lang] }}"</p>
    </div>
  </div>
</div>

<div class="page-section align-items-center">
  <div class="row p-5 g-5">
    {% for i in (1..6) %}
    {% assign photo = "microscope" | append: i | append: ".jpg" %}
      <div class="col-lg-4 col-md-6 col-sm-12 px-5 gx-5">
        <img src="/assets/images/activities/bosco2023/{{ photo }}"
             class="ratio ratio-21x9 card-img-top img-fluid">
      </div>
    {% endfor %}
  </div>
</div>
