/*****	#BUTTONS	*****/
button {
	border:none;
	cursor:pointer;
  text-decoration: none;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.button {
	background-color:#ffea00;
	color:#4b4e53;
	border:none;
	border-radius:2px;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
/****	add in anim	*******/
	outline: none;
	position: relative;

}
.button:hover {
	background-color:#101010;
	color:#fff;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.button.medium  {
	padding: 10px 37px 10px 37px;
	display:inline-block;
}
.button.medium-compare  {
	font-size:14px;
	line-height:36px;
	padding:0px 16px 0px 16px;
	display:inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	width:90%;
}
.button.medium-border  {
	font-size:14px;
	line-height:36px;
	height:36px;
	padding:0px 16px 0px 16px;
	display:inline-block;
	border-bottom: 1px solid #FFFFFF !important;
  border-right: 1px solid #FFFFFF !important;
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, .1) !important;
          box-shadow: 2px 2px 0 rgba(0, 0, 0, .1) !important;
}
.button.large {
	font-size:16px;
	line-height:20px;
	padding:20px 40px;
	display:inline-block;
}
.button.large-border {
	font-size:20px;
	line-height:20px;
	padding:15px 39px 15px 39px;
	display:inline-block;
	border-bottom: 1px solid #FFFFFF !important;
  border-right: 1px solid #FFFFFF !important;
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, .1) !important;
          box-shadow: 2px 2px 0 rgba(0, 0, 0, .1) !important;
}
.button.small {
	font-size:11px;
	line-height:16px;
	padding: 10px 15px 10px 15px;
	display:inline-block;
}
.button.small-border {
	font-size:12px;
	line-height:16px;
	padding: 6px 10px;
	display:inline-block;
	border-bottom: 1px solid #FFFFFF !important;
  border-right: 1px solid #FFFFFF !important;
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, .1) !important;
          box-shadow: 2px 2px 0 rgba(0, 0, 0, .1) !important;
}
.button-icon-right {
	margin-left:6px;
}
.button-icon-left {
	margin-right:6px;
}

/*****	#ANIMATION BUTTONS	*****/
.btn-4 {
	overflow: hidden;
	padding-right: 40px !important;
	padding-left: 40px !important;
  .button-icon-anim  {
  	position: absolute;
  	font-size: 125%;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	-webkit-transition: left .3s ease;
  	-o-transition: left .3s ease;
  	transition: left .3s ease;
  }
}

/* Button 4aa */
.btn-4aa { .button-icon-anim  {
	left: 130%;
}}
.btn-4aa:hover { .button-icon-anim  {
	left: 76%;
}}

/* Button 4aa-inv */
.btn-4aa-inv { .button-icon-anim  {
	left: 76%;
}}
.btn-4aa-inv:hover { .button-icon-anim  {
	left: 102%;
}}

/* Button 4cc */
.btn-4cc {.button-icon-anim  {
	left: 70%;
	opacity: 0;
}}
.btn-4cc:hover { .button-icon-anim  {
	left: 76%;
	opacity: 1;
}}

/* Button 4cc-inv */
.btn-4cc-inv { .button-icon-anim {
	left: 76%;
	opacity: 1;
}}
.btn-4cc-inv:hover { .button-icon-anim {
	left: 70%;
	opacity: 0;
}}

/* Button 5 */
.btn-5 {
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	padding-right: 45px;
	padding-left: 45px;
  .button-text-anim {
  	display: inline-block;
  	width: 100%;
  	height: 100%;
  	-webkit-backface-visibility: hidden;
  	-moz-backface-visibility: hidden;
  	-webkit-transition: all ease .3s;
  	-o-transition: all ease .3s;
  	transition: all ease .3s;
  	backface-visibility: hidden;
  }
  .button-icon-anim{
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	font-size: 180%;
  	-webkit-transition: all ease .3s;
  	-o-transition: all ease .3s;
  	transition: all ease .3s;
  }
}

/* Button 5aa */
.btn-5aa:hover {
  .button-text-anim {
  	-webkit-transform: translateY(300%);
  	-ms-transform: translateY(300%);
  	transform: translateY(300%);
  }
  .button-icon-anim {
  	top: 50%;
  	left: 50%;
  }
}
.btn-5aa { .button-icon-anim {
	top: -100%;
}}

/* Button 5bb */
.btn-5bb:hover {
  .button-text-anim  {
  	-webkit-transform: translateX(200%);
  	-ms-transform: translateX(200%);
  	transform: translateX(200%);
  }
  .button-icon-anim  {
  	left: 50%;
  }
}
.btn-5bb { .button-icon-anim {
	left: -100%;
	/* top: 0; */
}}

/*****	#THIN BUTTONS	*****/
.button.thin, .button.small.thin, .button.medium.thin, .button.large.thin   {
	position:relative;
	display:inline-block;
	padding: 13px 17px 13px 17px;
	background-color:transparent;
	color:#7a7b80;
	border: 2px solid #c5c2c2;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.button.small.thin {
	padding: 10px 15px 10px 15px !important;
}
.button.medium.thin {
	padding: 8px 35px 8px 35px !important;
}
.button.large.thin {
	padding: 15px 20px 15px 20px !important;
	line-height:22px;
}
.button.thin:hover {
	background-color:#d7d9dc;
	color:#4b4e53;
	border: 2px solid #d7d9dc;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.button.thin.hover-dark:hover {
	background-color:#4b4e53 !important;
	border: 2px solid #4b4e53 !important;
	color:#fff !important;
}
.button.thin-bg-dark {
	position:relative;
	display:inline-block;
	padding: 13px 17px 13px 17px !important;
	background-color:transparent !important;
	color:#4b4e53 !important;
	border: 2px solid #727578 !important;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.button.thin-bg-dark:hover {
	background-color:#ffea00 !important;
	color:#4b4e53 !important;
	border: 2px solid #ffea00 !important;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

/*****  #BUTTONS THIN COLORS  *****/
.button.thin.yellow{
	border-color:#ffea00;
	color:#ffea00;
}
.button.thin.yellow:hover {
	background-color:#ffea00;
	color:#4b4e53;
}
.button.thin.blue {
	border-color:#37a2d6;
	color:#37a2d6;
}
.button.thin.blue:hover {
	background-color:#37a2d6;
	color:#fff;
}
.button.thin.cyan {
	border-color:#4cc1d3;
	color:#4cc1d3;
}
.button.thin.cyan:hover {
	background-color:#4cc1d3;
	color:#fff;
}
.button.thin.teal {
	border-color:#1bbc9b;
	color:#1bbc9b;
}
.button.thin.teal:hover {
	background-color:#1bbc9b;
	color:#fff;
}
.button.thin.gray {
	border-color:#535961;
	color:#535961;
}
.button.thin.gray:hover {
	background-color:#535961;
	color:#fff;
}
.button.thin.white {
	border-color:#fff;
	color:#fff;
}
.button.thin.white:hover {
	background-color:#fff;
	color:#4b4e53;
}
.button.thin.gray-light {
	border-color:#d7d9dc;
	color:#d7d9dc;
}
.button.thin.gray-light:hover {
	background-color:#d7d9dc;
	color:#fff;
}
.button.thin.deeporange {
	border-color:#ff5722;
	color:#ff5722;
}
.button.thin.deeporange:hover {
	background-color:#ff5722;
	color:#fff;
}
.button.thin.green {
	border-color:#259b24;
	color:#259b24;
}
.button.thin.green:hover {
	background-color:#259b24;
	color:#fff;
}
.button.thin.lime {
	border-color:#cddc39;
	color:#cddc39;
}
.button.thin.lime:hover {
	background-color:#cddc39;
	color:#fff;
}

/*****	#HOVER THIN BUTTONS		*****/
.button.hover-thin  {
	border: 2px solid #ffea00;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.button.hover-thin:hover  {
	background:none;
	border: 2px solid #dfdfdf;
	color:#4b4e53;
}
.button.medium.hover-thin  {
	padding: 10px 37px;
}
.button.large.hover-thin {
	padding:18px 23px 18px 23px;
}
.button.small.hover-thin {
	padding: 8px 13px 8px 13px;
}

/*****	#HOVER THIN BUTTONS COLORS		*****/
.button.yellow.hover-thin {
	border-color: #ffea00;
}
.button.yellow.hover-thin:hover {
	background:none;
	border: 2px solid #ffea00;
	color:#ffea00;
}
.button.blue.hover-thin {
	border-color: #37a2d6;
}
.button.blue.hover-thin:hover {
	background:none;
	border: 2px solid #37a2d6;
	color:#37a2d6;
}
.button.cyan.hover-thin {
	border-color: #4cc1d3;
}
.button.cyan.hover-thin:hover {
	background:none;
	border: 2px solid #4cc1d3;
	color:#4cc1d3;
}
.button.teal.hover-thin {
	border-color: #1bbc9b;
}
.button.teal.hover-thin:hover {
	background:none;
	border: 2px solid #1bbc9b;
	color:#1bbc9b;
}
.button.gray.hover-thin {
	border-color: #535961;
}
.button.gray.hover-thin:hover {
	background:none;
	border: 2px solid #535961;
	color:#535961;
}
.button.gray-light.hover-thin {
	border-color: #d7d9dc;
}
.button.gray-light.hover-thin:hover {
	background:none;
	border: 2px solid #d7d9dc;
	color:#4b4e53;
}
.button.deeporange.hover-thin {
	border-color: #ff5722;
}
.button.deeporange.hover-thin:hover {
	background:none;
	border: 2px solid #ff5722;
	color:#ff5722;
}
.button.green.hover-thin {
	border-color: #259b24;
}
.button.green.hover-thin:hover {
	background:none;
	border: 2px solid #259b24;
	color:#259b24;
}
.button.lime.hover-thin {
	border-color: #cddc39;
}
.button.lime.hover-thin:hover {
	background:none;
	border: 2px solid #cddc39;
	color:#cddc39;
}
/*****	#THIN-INV BUTTON	*****/
.button.thin-inv, .button.thin-inv-bg-dark {
	display:inline-block;
	background-color:#ffea00 !important;
	color:#fff !important;
	border: 2px solid #ffea00 !important;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.button.thin-inv:hover {
	background-color:transparent !important;
	border: 2px solid #dfdfdf !important;
	color:#4b4e53 !important;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.button.thin-inv-bg-dark:hover {
	background-color:transparent !important;
	border: 2px solid #dfdfdf !important;
	color:#fff;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.button.color-black {
	color:#4b4e53 !important;
}

/*****  #BUTTONS COLORS  *****/
.button.yellow {
	background-color:#ffea00;
	color:#4b4e53;
}
.button.yellow:hover {
	background-color:#4b4e53;
	color:#fff;
}
.button.blue {
	background-color:#37a2d6;
	color:#fff;
}
.button.blue:hover {
	background-color:#4b4e53;
}
.button.cyan {
	background-color:#4cc1d3;
	color:#fff;
}
.button.cyan:hover {
	background-color:#4b4e53;
}
.button.teal {
	background-color:#1bbc9b;
	color:#fff;
}
.button.teal:hover {
	background-color:#4b4e53;
}
.button.gray {
	color:#fff;
	background-color:#535961;
}
.button.gray:hover {
	background-color:#101010;
}
.button.gray-light {
	color: #4b4e53;
	background-color: #d7d9dc;
}
.button.gray-light:hover {
	background-color:#4b4e53;
  color:#fff;
	cursor:pointer;
}
.button.deeporange {
	color:#fff;
	background-color:#ff5722;
}
.button.deeporange:hover {
	background-color:#4b4e53;
	cursor:pointer;
}
.button.green {
	color:#fff;
	background-color:#259b24;
}
.button.green:hover {
	background-color:#4b4e53;
	cursor:pointer;
}
.button.lime {
	color:#fff;
	background-color:#cddc39;
}
.button.lime:hover {
	background-color:#4b4e53;
	cursor:pointer;
}
.button.white {
	color:#323336;
	background-color:#fff;
}
.button.white:hover {
  color:#fff;
	background-color:#323336;
	cursor:pointer;
}