/***** #MAIN-MENU MENU *****/
#main-menu {
  z-index: 1;
}
#main-menu {
  .navbar {
    background: none;
    border: 0 none;
    margin: 0;

    .nav {
      margin: 0;
      position: static;

      > li {
        position: relative;
        z-index:5;

        > a {
          font-size:12px;
          color:#5c6066;
          z-index: 1;
          text-shadow: none;
          -webkit-transition: padding .4s ease 0s, border-color .6s ease 0s;
          -o-transition: padding .4s ease 0s, border-color .6s ease 0s;
          transition: padding .4s ease 0s, border-color .6s ease 0s;
          -webkit-transform: translateZ(0);
          -ms-transform: translateZ(0);
          transform: translateZ(0);
        	padding:38px 3px 5px 3px;
        	margin: 0 12px 17px 12px;
        	border-bottom: 2px solid rgba(45,78,83,0);
        	color:#4b4e53;
          letter-spacing:2px;
          background-color: transparent;

          .main-menu-title {
      	    line-height:20px;
          }
        }
      }
      .parent {
        position: relative;
      }
    }
  }

  .navbar-collapse {
    padding: 0;
    position: static;
    border:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
}

.black-header { #main-menu { .navbar { .nav {
  > li { > a {
    color: rgba(255,255,255, .7);
  }}
  > li.current { > a {
	  border-bottom: 2px solid rgba(255,255,255,1);
	  color:#fff;
  }}
}}}}

.header-black-white { #main-menu { .navbar { .nav {
  > li { > a {
    color: rgba(255,255,255, .7);
  }}
  > li.current { > a {
  	border-bottom: 2px solid rgba(255,255,255,1);
  	color:#fff;
  }}
}}}}

/* Effect 3: bottom line slides/fades in */
.affix { #main-menu { .navbar { .nav { > li { > a {
  -webkit-transition: padding .4s ease 0s;
  -o-transition: padding .4s ease 0s;
  transition: padding .4s ease 0s;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}}}}}}

.affix.header-1 { #main-menu { .navbar { .nav {
  > li { > a {
	  margin-bottom: 13px;
	  padding: 20px 3px 5px 3px;
  }}
  > li.current { > a {
    margin-bottom: 13px;
  	padding: 20px 3px 5px 3px;
  	border-color:rgba(75,78,83,.5);
  }}
}}}}

.header-1 { #main-menu { .navbar { .nav { > li.current { > a {
	padding:38px 3px 5px 3px;
	margin: 0 12px 17px 12px;
	border-bottom: 2px solid rgba(45,78,83,1);
	color:#4b4e53;
}}}}}}

.affix.header-1.black-header { #main-menu { .navbar { .nav {
  > li.current { > a {
	  border-color:rgba(75,78,83,0);
  }}
}}}}

.affix.header-1.header-black-white { #main-menu { .navbar { .nav {
  > li.current { > a {
    color:#000;
  }}
  > li { > a {
    color:#000;
  }}
}}}}

/***** #STICKY ICON BUTTON ANIMATION	*****/
/**********************************************************/
.main-menu-icon {
	display:block;
	font-size:18px;
	font-weight:100 !important;
	padding:12px;
	border:2px solid #a3a7ad;
	border-radius: 50%;
	color:#a3a7ad;
	height:46px;
	width:46px;
}
.main-menu-icon.icon_house_alt.main-menu-icon {
	padding-top:10px;
}
.main-menu-icon.icon_toolbox_alt.main-menu-icon {
	padding-top:10px;
}
.main-menu-icon.icon_mail_alt.main-menu-icon {
	padding-bottom:14px;
	padding-top:10px;
}
#main-menu { .navbar { .nav { > li:hover { > a {
  color:#111;
}}}}}

.black-header { #main-menu { .navbar { .nav {
  > li:hover { > a {
    color:#fff;
  }}
}}}}

.header-black-white { #main-menu { .navbar { .nav {
   > li:hover { > a {
     color:#fff;
   }}
}}}}

#main-menu {
  .sub {
    background: #4B4E53;
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0, .2);
    box-shadow: 0 4px 5px rgba(0,0,0, .2);
    display: none;
    margin:0;
    padding: 10px 10px 10px 24px;
    position: absolute;
    z-index: 905;
  }

  li {
    font-size: 12px;
    line-height: 24px;
    text-transform:uppercase;
  }
}
/*****	#ANIMATION FOR SUB MENU	*****/
#main-menu {
  .parent:hover {
    > .sub {
      display: block ;
      -webkit-animation: fadeIn .4s;
      animation: fadeIn .4s;
    }
  }
  .sub {
    a {
      color: #d3d3d3;
      display: block;
      text-decoration: none;
      min-width: 160px;
      padding:9px;
      padding-left:0;
      -webkit-transition: color .3s ease 0s, padding .3s ease 0s;
      -o-transition: color .3s ease 0s, padding .3s ease 0s;
      transition: color .3s ease 0s, padding .3s ease 0s;
      /* -ms-transition: none; */
    }
    a:hover {
    	color: #fff;
    	padding-left:7px;
    	-webkit-transition: color .2s ease 0s, padding .3s ease 0s;
    	-o-transition: color .2s ease 0s, padding .3s ease 0s;
    	transition: color .2s ease 0s, padding .3s ease 0s;
    }
    a.current {
    	color: #fff;
    	-webkit-transition: all .2s ease 0s;
    	-o-transition: all .2s ease 0s;
    	transition: all .2s ease 0s;
    }
    .parent:hover {
      > a {
    	  color: #fff;
    	  padding-left: 7px;
      }
    }
    .sub {
      left: 100%;
      top: 0;
    }
  }
}

#main-menu { .navbar { .nav { .parent { .parent {
  > a:after {
    content: "\e232";
    font-family: "linea-icons";
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    speak: none;
    font-size: 15px;
    display: block;
    line-height: 1;
    position: absolute;
    right: 10px;
    top: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}}}}}

#main-menu { .sub { .sub { .sub {
  .sub {
    background: none;
    border: 0 none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    left: 0;
    padding: 0;
    position: relative;
    -webkit-animation: fadeIn 0;
    animation: fadeIn 0;
  }
  .parent { > a {
    background: none !important;
  }}
}}}}

.navbar-collapse.right {
	border:none;
}

.header { .primary { .parent:hover { > .sub {
  display: block;
}}}}

