<div class="page-section px-4 py-3">
  <div class="row flex-lg-row align-items-start p-4">
    <div class="c4-feature col border-start border-3 border-dark ms-5">
      {%- assign section = site.data.homepage | where: "title", "Aegis" | first -%}
      <h1 class="c4-feature-title">{{ section.header[page.lang] }}</h1>
      <p class="c4-feature-subtitle">
        {{ site.data.xlate.aegis_short[page.lang] }}
      </p>
    </div>
    <div class="c4-feature egida col">
          <img alt="Universitatea Babes-Bolyai"
               src="/assets/images/Logo-UBB.svg"
               width="300px" />
    </div>
    <div class="c4-feature egida col pt-4">
      <a class="text-uppercase" href="https://acad.ro">
        <div class="row align-items-center">
          <div class="col acad">
            <img alt="Academia Română"
                 src="/assets/images/sigla_acad_300.png"
                 class="img-fluid" />
          </div>
          <div class="col acad mx-2">Academia<br/>Română</div>
        </div>
      </a>
      </div>
  </div>
</div>
