
{{ site.data.egida[page.lang] }}

<div style="table, td, th { border: none!important;} ">
  <table style="{border: none; }">
    <tr>
      <td><img alt="Academia Româna"
           src="https://acad.ro/institutia/img/media/sigla/Academia_Romana_sigla_web.png"
           width="100px" />
      </td>
      <td><img alt="Universitatea Babes-Bolyai"
               src="/assets/images/Logo-UBB.svg"
               width="250px" />
      </td>
  </tr>
  <tr>
    <td><em>Academia Româna</em></td>
    <td><em>Universitatea Babeș-Bolyai</em></td>
  </tr>
  </table>
</div>
