
{{ site.data.egida[page.lang] }}

<table class="borderless">
  <tr class="borderless">
    <td class="borderless"><img alt="Academia Româna"
         src="https://acad.ro/institutia/img/media/sigla/Academia_Romana_sigla_web.png"
         width="100px" />
    </td>
    <td class="borderless"><img alt="Universitatea Babes-Bolyai"
             src="/assets/images/Logo-UBB.svg"
             width="250px" />
    </td>
</tr>
<tr class="borderless">
  <td class="borderless"><em>Academia Româna</em></td>
  <td class="borderless"><em>Universitatea Babeș-Bolyai</em></td>
</tr>
</table>
