<footer class="page-section pt-30 pb-0">
  <div class="container-m-0 ml-0 mr-0">
    <div class="row footer-dark">

      <div class="col-md-3 col-sm-3 pl-30 widget">
		    <div class="logo-footer-cont pt-30">
          <a href="/{{ page.lang }}/index.html">
            <img class="logo-footer" src="/assets/images/sigla_ro.png" alt="logo">
          </a>
        </div>
        <div class="footer-text-cont">
          <address>
            Strada Clinicilor nr. 5-7<br/>
            Camera 8, etaj II<br/>
            Cluj-Napoca, România, 400006
          </address>
        </div>
        <div class="footer-text-cont">
          +40 (000) 000 000
        </div>
        <div class="footer-text-cont">
          <a class="a-text" href="mailto: {{ site.email }}">{{ site.email }}</a>
        </div>
      </div>

      <div class="col-md-3 col-sm-3 widget">
        {%- assign about_menu = site.data.footer_menu | where: "title", "About" | first -%}
        <h4 class="uppercase">{{ about_menu[page.lang] }}</h4>
        <ul class="links-list a-text-cont">
          {%- for section in about_menu.sub -%}
          <li class="uppercase">
            <a href="/{{ page.lang }}/{{ section.link }}">{{ section[page.lang] }}</a>
          </li>
          {%- endfor -%}
        </ul>
      </div>

      <div class="col-md-3 col-sm-3 widget">
        {%- assign acts_menu = site.data.footer_menu | where: "title", "Activities" | first -%}
        <h4 class="uppercase">{{ acts_menu[page.lang] }}</h4>
        <ul class="links-list a-text-cont">
          {%- for section in acts_menu.sub -%}
          <li class="uppercase">
            <a href="/{{ page.lang }}/{{ section.link }}">{{ section[page.lang] }}</a>
          </li>
          {%- endfor -%}
        </ul>
      </div>

      <div class="col-md-2 col-sm-2 widget">
        {%- assign section = site.data.footer_menu | where: "title", "Subscribe" | first -%}
        <h4 class="uppercase">
          <a href="{{ section.link }}" target="_blank">{{ section[page.lang] }}
        </a></h4>
        <!-- <h4 class="uppercase">Social Media</h4> -->
        <a href="https://www.youtube.com/channel/UC4pDr_TBfz6P-bval0QtVIA" target="_blank"><i class="fa-brands fa-youtube-square"></i></a>
      </div>

    </div>

    <div class="row footer align-items-start pb-10"><!-- light footer -->
      <div class="col pl-30 widget mb-0">
        <h4 class="left">&copy; 2022 -- {{ site.data.xlate.foundation_title[page.lang] }}</h4>
      </div>
      <div class="col widget mb-0 pr-30">
        {%- assign section = site.data.legal | where: "title", "Privacy" | first -%}
        <h4 class="text-right"><a href="/{{ page.lang }}/{{ section.link }}">{{- section[page.lang] | default: section.title -}}
          </a>
        </h4>
      </div>
    </div>
  </div>
</footer>
