<footer class="page-section mt-auto">
  <div class="container-fluid g-0">
    <div class="footer-dark pt-5 ps-5">
      <div class="row px-5">

      <div class="col-sm-12 col-lg-3">
		    <div class="logo-footer-cont">
          <a href="/{{ page.lang }}/index.html">
            <img class="logo-footer"
                 src="/assets/images/SiglaEGR-Fundatia_ro-gri.jpg"
                 alt="logo">
          </a>
        </div>
        <div class="footer-text-cont">
          <address>
            Strada Clinicilor nr. 5-7<br/>
            Camera 8, etaj II<br/>
            Cluj-Napoca, România, 400006
          </address>
        </div>
        <div class="footer-text-cont">
          +40 (000) 000 000
        </div>
        <div class="footer-text-cont">
          <a class="a-text" href="mailto: {{ site.email }}">{{ site.email }}</a>
        </div>
      </div>

      <div class="col-md-12 col-lg-3">
        {%- assign about_menu = site.data.footer_menu | where: "title", "About" | first -%}
        <h4 class="text-uppercase">{{ about_menu[page.lang] }}</h4>
        <ul class="links-list a-text-cont py-4">
          {%- for section in about_menu.sub -%}
          <li class="text-uppercase">
            <a href="/{{ page.lang }}/{{ section.link }}">{{ section[page.lang] }}</a>
          </li>
          {%- endfor -%}
        </ul>
      </div>

      <div class="col-md-12 col-lg-3">
        {%- assign acts_menu = site.data.footer_menu | where: "title", "Activities" | first -%}
        <h4 class="text-uppercase">{{ acts_menu[page.lang] }}</h4>
        <ul class="links-list a-text-cont py-4">
          {%- for section in acts_menu.sub -%}
          <li class="text-uppercase">
            <a href="/{{ page.lang }}/{{ section.link }}">{{ section[page.lang] }}</a>
          </li>
          {%- endfor -%}
        </ul>
      </div>

      <div class="col-md-12 col-lg-3">
        {%- assign section = site.data.footer_menu | where: "title", "Subscribe" | first -%}
        <h4 class="text-uppercase">
          <a href="{{ section.link }}" target="_blank">{{ section[page.lang] }}
        </a></h4>
        <!-- <h4 class="text-uppercase">Social Media</h4> -->
        <div class="py-4">
          <a href="https://www.youtube.com/channel/UC4pDr_TBfz6P-bval0QtVIA"
             target="_blank">
             <i class="fa-brands fa-youtube-square mt-30"></i>
           </a>
        </div>
      </div>

      </div>
    </div>
    <div class="footer py-3 ps-5"><!-- light footer -->
    <div class="row align-items-start px-5">
      <div class="col-sm-12 col-md-6">
        <h4 class="left">&copy; 2022 — {{ site.data.xlate.foundation_title[page.lang] }}</h4>
      </div>
      <div class="col-sm-12 col-md-6">
        {%- assign section = site.data.legal | where: "title", "Privacy" | first -%}
        <h4 class="text-end"><a href="/{{ page.lang }}/{{ section.link }}">{{- section[page.lang] | default: section.title -}}
          </a>
        </h4>
      </div>
    </div>
    </div>
    </div>
</footer>
