<div id="main-menu">
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light py-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/assets/images/sigla_google_logo.png" alt="" height="50"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {%- include menu.html -%}
    <ul class="nav ms-auto">
     <li class="nav-item">
      <select onchange="location = this.value;">
        <!-- Link on click (full page re-render), but keep the currently selected page as the active option on the menu. -->
      	{% assign languages = "en, ro, fr" | split: ", " %}
      	{% for lang in languages %}
        	{% assign url = page.url | replace_first: page.lang, lang %}
        	{% assign exists = site.html_pages | where_exp:"item", "item.url == url" %}
        	{% unless exists.size > 0 %}
        	{% assign url = "/" | append: lang | append: "/index.html" %}
        	{% endunless %}
          <option  {% if page.lang == lang %} selected {% endif %} value="{{ url | replace_first: page.lang, lang }}">{{ site.data.xlate.lang_name[lang] }}</option>
	      {% endfor %}
      </select>
     </li>
    </ul>
  </div>
</nav>
</div>

<header class="site-header" role="banner">
  <div class="carousel slide" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-item active">
      <img src="/assets/images/front-banner-2.jpg" class="img-fluid" alt="portrait">
      <div class="carousel-caption d-flex d-md-block">
        <p class="display-3">{{ site.data.xlate.foundation_title[page.lang] | escape }}</p>
        <p class="display-6">{{ site.data.xlate.foundation_subtitle[page.lang] | escape }}</p>
      </div>
    </div>
  </div>
</header>
