<div id="main-menu">
<nav class="navbar navbar-expand-lg sticky-top py-0">
  <div class="container-fluid">
    {%- assign home = "/" | append: page.lang | append: "/index.html" -%}
    <a class="navbar-brand" href="{{ home }}" >
      <img src="/assets/images/SiglaEGR-Fundatia_ro-eee.jpg"
           alt="logo" height="100px"></a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row flex-lg-row w-100">
      <div class="col-sm-11">
        {%- include menu.html -%}
      </div>
      <div class="col-sm-1 pt-lg-3 pt-md-0 m-0 gx-5 ms-auto postion-relative">
        <select class="nav nav-item pt-0 form-select position-absolute end-0" onchange="location = this.value;">
          <!-- Link on click (full page re-render), but keep the currently selected page as the active option on the menu. -->
          {%- assign languages = "en, ro, fr" | split: ", " -%}
          {%- for lang in languages -%}
            {%- assign url = page.url | replace_first: "/" + page.lang, "/" + lang -%}
            {%- assign is_page = site.html_pages | where_exp:"item", "item.url == url" -%}
            {%- unless is_page.size > 0 -%}
              {%- assign url = page.url | replace: page.lang + ".html", lang + ".html" -%}
              {%- assign is_post = site.posts | where_exp:"item", "item.url == url" -%}
              {%- unless is_post.size > 0 -%}
                {%- assign url = "/" | append: lang | append: "/index.html" -%}
              {%- endunless %}
            {%- endunless %}
          <option  {% if page.lang == lang %} selected {% endif %} value="{{ url | replace_first: page.lang, lang }}">{{ site.data.xlate.lang_name[lang] }}</option>
	      {%- endfor -%}
      </select>
      </div>
    </div>
  </div>
</nav>
</div>

<header class="site-header" role="banner">
  {%- assign banner = "/assets/images/banners/banner-generic.jpg" -%}
  {%- if page.banner -%}
  {%-   assign abs_path = page.banner | slice: 0 -%}
  {%-   if abs_path == "/" -%}
  {%-     assign banner = page.banner -%}
  {%-   else -%}
  {%-     assign banner = "/assets/images/banners/" | append: page.banner -%}
  {%-   endif -%}
  {%- endif -%}

  <div class="container-fluid p-0 g-0">
    <div class="card mb-0">
      <img src="{{ banner }}" class="img-fluid" alt="banner">
      <div class="card-img-overlay">
        <h1 class="card-title title p-lg-1 p-sm-0 g-sm-0">{{ site.data.xlate.foundation_title[page.lang] | escape }}</h1>
        <h3 class="subtitle pt-lg-2 p-sm-0 g-sm-0 pt-sm-1">{{ site.data.xlate.foundation_subtitle[page.lang] | escape }}</h3>
      </div>
      {% unless page.no_subtitle %}
      <div class="position-absolute bottom-0 start-0 p-sm-1 p-md-3 px-lg-5 py-1">
        <h3 class="page-title">{{ page.title }}</h3>
      </div>
      {% endunless %}
    </div>
  </div>
</header>
