<div class="btn-group-sm btn-translate-group dropdown">
  <button class="btn btn-default dropdown-toggle" type="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          aria-label="change language button">
    <i class="fa fa-language" aria-hidden="true">
      ::before
    </i>
    ::after
  </button>
  <div class="dropdown-menu" style="display: none;">
    <a class="dropdown-item menu-en" href="/en/index.html">EN</a>
    <a class="dropdown-item menu-ro" href="/ro/index.html">RO</a>
    <a class="dropdown-item menu-fr" href="/fr/index.html">FR</a>
    <a class="dropdown-item menu-de" href="/de/index.html">DE</a>
  </div>
</div>