<div class="unit one-fifth">
  <aside>
    {% for section in site.data.menu -%}
      {%- assign link = "/" | append: page.lang | append: "/" | append: section.link %}
      {%- assign p = site.pages | where: "url", link | first %}
      <p>
      {% if page.url == p.url %}
        {{- section[page.lang] | default: section.title -}}
      {%- elsif p.url -%}
        <a href="{{ link | relative_url }}">{{- section[page.lang] | default: section.title -}}
        </a>
      {%- else -%}
        {{- section[page.lang] | default: section.title -}}
      {%- endif -%}
    </p>
    {% endfor -%}
  </aside>
</div>



