<div class="unit one-fourth">
  <aside>
    {% for section in site.data.menu -%}
      {%- assign link = "/" | append: page.lang | append: "/" | append: section.link %}
      {%- assign p = site.pages | where: "url", link | first %}
      <p>
      {% if page.url == p.url %}
        {{- section[page.lang] | default: section.title -}}
      {%- elsif p.url -%}
        <a href="{{ link | relative_url }}">{{- section[page.lang] | default: section.title -}}
        </a>
      {%- else -%}
        {{- section[page.lang] | default: section.title -}}
      {%- endif -%}
      {% if section.subnav[0] %}
      <ul>
        {% for entry in section.subnav %}
          {%- assign link = "/" | append: page.lang | append: "/" | append: entry.link %}
          <li><a href="{{ link | relative_url }}">{{ entry[page.lang] | default: entry.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </p>
    {% endfor -%}
  </aside>
</div>



