<div class="unit one-fourth">
  <aside>
    {% for section in site.data.menu -%}
      {%- assign link = "/" | append: page.lang | append: "/" | append: section.link %}
      {%- assign p = site.pages | where: "url", link | first %}
      <!--
      Link: {{ section.link }}, page.url: {{ page.url }},
      p.url : {{ p.url }}<br/>
      -->
      {%- if section.title == "Home" -%}
          <a href="{{ link | relative_url }}">{{- section[page.lang] | default: section.title -}}</a><br/>
      {%- endif -%}
      {%- if section.link -%}
        {%- if page.url == p.url -%}
          {{- section[page.lang] | default: section.title -}}<br/>
        {%- elsif p.url -%}
          <a href="{{ link | relative_url }}">{{- section[page.lang] | default: section.title -}}
          </a><br/>
        {%- endif -%}
		<!-- absolute links -->
		{% if section.link contains "https://" %}
          <a href="{{ section.link | absolute_url }}" target="_blamk">{{- section[page.lang] | default: section.title -}}
          </a><br/>
		{% endif %}
      {%- else -%}
        {{- section[page.lang] | default: section.title -}}<br/>
      {%- endif -%}
      {%- if section.subnav[0] -%}
        <ul>
        {%- for entry in section.subnav -%}
          {%- assign link = "/" | append: page.lang | append: "/" | append: entry.link %}
          <li><a href="{{ link | relative_url }}">{{ entry[page.lang] | default: entry.title }}</a></li>
        {%- endfor -%}
        </ul>
      {%- endif -%}
    {% endfor -%}
  </aside>
</div>
