
{% assign album = site.data.photos | where: "name", page.ref | first %}

<div id="photo_carousel" class="carousel slide" data-ride="carousel">
  
  <!-- Indicators -->
  <div class="carousel-indicators">
    {% for photo in album.photos %}
    {% if forloop.first %}
      <button type="button" 
              data-bs-target="#photo_carousel" 
              data-bs-slide-to="{{ forloop.index0 }}"
              class="active">
      </button>
      {% else %}
      <button type="button" 
              data-bs-target="#photo_carousel" 
              data-bs-slide-to="{{ forloop.index0 }}">
      </button>
      {% endif %}
    {% endfor %}
  </div>
    <div class="carousel-inner">
    {% for photo in album.photos %}
    {% if forloop.first %}
      <div class="carousel-item active">
    {% else %}
      <div class="carousel-item">
    {% endif %}
      <img src="{{ album.path }}/{{ photo.file }}" class="d-block w-100">
      <div class="container">
        <div class="carousel-caption text-start">
          <p class="egr-photo-caption">{{ photo[page.lang] }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    
    <button class="carousel-control-prev" type="button" data-bs-target="#photo_carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>​
    <button class="carousel-control-next" type="button" data-bs-target="#photo_carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>​
  </div>
</div><!-- /.carousel -->
