<h1>{{ page.title }}</h1>

<div class="c4-photos-row row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

{% for category in site.data.photos %}
{% assign title = category.title[page.lang] %}

<div class="col">
  <a href="/{{ page.lang }}/{{ category.link }}">
  <div class="card shadow-sm border-light">
    <img class="img-circle" src="{{ category.path }}/{{ category.card }}">
    <div class="card-body">
      <h2>{{ title }}</h2>
      <p class="card-text">{{ category.description[page.lang] }}</p>
    </div>
  </div>
  </a>
</div><!-- class="col-md-3" -->

{% endfor %}
</div> <!-- class="row" -->
