
{% assign currentDate = "2024-01-01" %}
{% assign posts = site.posts | where:"lang", page.lang %}

{% assign hasUpcoming = false %}
{% for post in posts %}
  {% assign postDate = post.date | date: "%Y-%m-%d" %}
  {% if postDate >= currentDate %}
    {% assign hasUpcoming = true %}
  {% endif %}
{% endfor %}

{% if hasUpcoming %}

<div class="page-section shaded-bg px-lg-4 py-3">
  <div class="c4-feature row justify-content-end align-items-end">
    <div class="col">&nbsp;</div>
    <div class="col">
      <h1 class="c4-feature-title px-5 pt-3">{{ site.data.xlate.upcoming[page.lang] }}</h1>
    </div>
  </div>
{% for post in posts %}
  {% assign postDate = post.date | date: "%Y-%m-%d" %}
  {% if postDate >= currentDate %}
  <div class="c4-feature row flex-lg-row justify-content-center p-4">
    {% if post.card_banner %}
    <div class="col-lg-5 col-md-12 p-0 g-0 m-0 ms-lg-5">
      {% if post.youtube %}
        <iframe src="{{ post.youtube }}"
                target="_blank"
                class="yt-container ratio ratio-16x9 img-fluid"
                allowfullscreen></iframe>
      {% else %}
        <img src="{{ post.card_banner }}" class="img-fluid">
      {% endif %}
    </div>
    {% endif %}
    <div class="col-lg-5 col-md-12 mx-lg-5 px-lg-5 gx-lg-5">
      <a href="{{ post.url | absolute_url }}">
        {% if post.date_range %}
          <h2 class="lh-1 mb-2">{{ post.date_range }}</h2>
        {% else %}
          <h2 class="lh-1 mb-2">{{ post.date | date: site.languages[page.lang].date_format }}</h2>
        {% endif %}
        <h2 class="lh-1 mb-3">{{ post.title }}</h2>
      <p>
        {% assign descr_head = post.description | split: " " | first %}
        {% assign descr_tail = post.description | remove_first: descr_head %}
        {% assign descr_head = descr_head | capitalize %}
        {{ descr_head }} {{ descr_tail }}
      </p>
      </a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endif %}
