
{% assign currentDate = "2022-11-15" %}
{% assign posts = site.posts | where:"lang", page.lang %}

{% assign hasUpcoming = false %}
{% for post in posts %}
  {% assign postDate = post.date | date: "%Y-%m-%d" %}
  {% if postDate >= currentDate %}
    {% assign hasUpcoming = true %}
  {% endif %}
{% endfor %}

{% if hasUpcoming %}

<div class="container col-xxl-10 px-4 py-5">
{% for post in posts %}
  {% assign postDate = post.date | date: "%Y-%m-%d" %}
  {% if postDate >= currentDate %}
  <div class="row flex-lg-row align-items-start g-5 py-5">
		{% if post.banner %}
    <div class="col-lg-7">
    <div class="yt-container">
		  <a href="https://youtu.be/OydU9DFSqmg" target="_blank">
        <img src="{{ post.banner }}" class="img-responsive">
        <button class="button"><img src="/assets/images/ytplay.png" width="30px"></button>
      </a>
     </div>
    </div>
    {% endif %}
    <div class="egr-feature col-md-5">
      <h1 class="fw-bold">{{ site.data.xlate.recentevents[page.lang] }}</h1>
      <a href="{{ post.url | absolute_url }}">
        <h2 class="lh-1 mb-3">{{ post.title }}</h2>
      <p>
        {{ post.description }}
      </p>
      </a>
    </div>
  </div>
    {% endif %}
  {% endfor %}
</div>

{% endif %}
