@import "gridism";

$base-line-height: 1.5 !default;
$base-font-size:   14px !default;
$text-color:       #111 !default;

.site-nav {
  // float: right;
  min-width: 200px;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.dropdown {
  display:flex; 
  flex-direction: column;
  align-items: center;
  
  .dropdown-menu { 
    width: 90%;
  }

  select { 
    background-color: unset;
    width: 100%; 
    margin: 0 auto;
  }
}

#main-nav-content-wrapper {
  display: flex;
  flex-direction: row;
}

section { 
  &#main-content {
    >p {
      padding: 0px 20px !important;
    }
  }
}