@import "gridism";

$base-line-height: 1.5 !default;
$base-font-size: 14px !default;
$text-color: #111 !default;

.portrait {
  display: flex;
  justify-content: flex-end;
  min-width: 200px;
  align-items: flex-start;
}

.site-nav {
  min-width: 200px;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.inner {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .above-content {
    flex: 1 0 auto;
  }

  .footer {
    display: flex;
    // width: 100%;
    // flex-shrink: 0;
    // flex-flow: row nowrap;
    // justify-content: flex-start;
    .legal {
      justify-content: flex-end;
      // text-align: right;
    }
  }
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.title {
  text-align: center;
  width: 100%;
}

.dropdown {
  display: flex;

  .dropdown-menu {
    width: 90%;
  }

  select {
    background-color: unset;
    width: 100%;
    margin: 0 auto;
    height: 32px;
    font-size: 16px;
    text-indent: 10px;
  }
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

#main-nav-content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

section {
  &#main_content {
    width: 100%;
    padding: 20px;
    > p {
      padding: 0px 20px;
    }
  }
}

.right_menu {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}
