$c4-black: #000;
$c4-white: #fff;
$c4-off-white: #111;
$c4-dark-gray: #4b4e53;
$c4-default-text: #7e8082;
$c4-default-border: #eee;
$c4-light-gray: #eeeeee;
$c4-med-light-gray: #d3d3d3;
$c4-light-focus: #97999c;
$c4-light-hover: #a5a5a5;
$c4-acad-ro: #3b699e;  /* Acad: #144b8e or UBB: #004f84 */
$c4-dark-red: #d5000d;

/* bootstrap overrides */
$dropdown-dark-bg: #4b4e53;
