.shaded-bg {
    background: $c4-light-gray;
    color: $c4-dark-gray;
}

.page-section  {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;

    .photo-caption {
        background:#303236;
        color: #fff;
        > h4 {
            color: #fff;
            margin-top: 0px;
            overflow: hidden;
        }
    }
}

.c4-section  {
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    align-items: center;

    h1 {
        text-transform: uppercase;
        padding-top: 0px;
        margin-top: 0px;
    }

    > h2 {
        margin-top: 2rem;
    }

    > h4 {
        font-weight: bold;
    }

    > p {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .c4-section-title {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 3rem;
        text-transform: uppercase;
        padding-top: 0px;
        padding-left: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .c4-figure {
        max-width: 300px;
    }

    .photo-caption {
        background:#303236;
        color: #fff;
        text-align: center;
        > h4 {
            color: #fff;
            margin-top: 0px;
            overflow: hidden;
        }
    }
}

.c4-list {
  ul {
    list-style-type: none;
  }
}

.c4-shaded-list {
  ul {
    list-style-type: none;
  }
  // li {
  //   margin-left: 2rem;
  // }
  li:nth-child(odd) {
    background: $c4-light-gray;
    color: $c4-dark-gray;
  }
}

.c4-pubs {
  // li {
  //   margin-left: 2rem;
  // }
  // li:nth-child(odd) {
  //   background: $c4-light-gray;
  //   color: $c4-dark-gray;
  // }
  .c4-figure-start {
    max-width: 400px;
    margin-left: 0 !important;
    padding-left: 0;
    margin-right: 1rem;
    padding-right: 1rem;
  }
  .c4-figure-end {
    max-width: 400px;
    margin-right: 0 !important;
    padding-right: 0;
    }
}

.c4-photos-row {
  align-items: top;
  justify-content: center;
  a {
       text-decoration: none;
       color: #777;
  }
  // .c4-photo {
      // height: 500px;
      // --bs-aspect-ratio: 200%;
  // }
}

.c4-photo-popup {
    .photo-caption {
    text-align: left;
    background: $white;
      color: $c4-dark-gray;
      > h4 {
          color: $c4-dark-gray;
          padding-left: 2rem;
          margin-top: 0px;
          overflow: hidden;
      }
  }
}

.c4-feature {
  align-items: center;
  a {
       text-decoration: none;
       color: $c4-default-text;
  }
  .c4-feature-title {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
  .c4-feature-subtitle {
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }
  .c4-feature-section {
      display: inline-block;
  }
  h1 {
   text-transform: uppercase;
   padding-top: 0px;
   margin-top: 0px;
  }
  .lead {
    padding-top: 0px;
    margin-top: 0px;
  }
  .row {
    padding-top: 0px;
    margin-top: 0px;
  }

  // .c4-feature-img {
  // }
  .yt-container {
      height: 300px;
  }
}

.egida {
    a {
        font-family: 'PT Sans Narrow', sans-serif;
        color: $c4-acad-ro;
    }
    .acad {
        max-width: 100px;
        padding: 0;
    }
}

.album {
  width: 95%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.c4-shrunk {
  width: 90%;
}

.c4-photo-caption {
  color: #d5000d;
  text-align: left;
}

.c4-photo-album {
  height: 1224px;
  .carousel-inner {
  	.carousel-item {
  		img {
        height: auto;
  			max-width: 768px;
  		}
  	}
  }
  .photo-caption {
    background: $white;
      color: $c4-dark-gray;
      > h4 {
          color: $c4-dark-gray;
          padding-left: 2rem;
          margin-top: 0px;
          overflow: hidden;
      }
  }
}

.c4-indented {
  padding-left: 3rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

/* MISC */
.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}
