$base-line-height: 1.5 !default;
$base-font-size: 14px !default;
$text-color: $c4-off-white !default;

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // height: 300px;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
      color: $white;
      font-size: calc(100% + 1vw + 1vh);
      font-weight: bold;
      text-align: right;
      line-height: 0.25rem;
      // padding-top: 1.25rem;
      // padding-right: 6rem;
  }
  .subtitle {
      color: $white;
      font-size: calc(100% + 0.25vw + 0.25vh);
      font-weight: normal;
      text-align: right;
      // padding-right: 6rem;
  }
  .page-title {
      color: $white;
      font-size: calc(100% + 0.5vw + 0.5vh);
      // padding-left: 6rem;
      // padding-bottom: 1rem;
  }
}
