<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	  {% include head.html %}
  </head>

  <body class="wrapper">
    {% include header.html %}

    <hr/>

    <main id="main-nav-content-wrapper">
          <div class="album wrapper">
            {{ content }}
          </div>
    </main>

    <footer>
      <div class="container">
        <div class="wrapper footer">
          <section>
            {% include egida.html %}
            {% include footer.html %}
          </section>
        </div>
      </div>
    </footer>

  {% include google_analytics.html %}
  {% include scripts.html %}
  </body>
</html>

