<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	  {% include head.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">
        <div class="above-content">
        <div class="wrapper">
          {%- include header.html -%}
        </div>
        <hr>
        <div class="wrapper" id="main-nav-content-wrapper">
          <section id="main_content" class="unit four-fifths">
            {{ content }}
          </section>
          <div class="right-menu">
          {%- include nav_menu.html -%}
          </div>
          </div>
        </div>
        <div class="wrapper footer">
          <footer>
			  <p><center> {% include egida.html %}</center> </p>
			  {% include footer.html %}
          </footer>
        </div>
      </div>
    </div>

  {% include google_analytics.html %}
  {% include scripts.html %}
  </body>
</html>
