---
layout: default
---
<div class="page-section shaded-bg px-4 py-lg-5 py-md-3">
  <div class="row align-items-start p-lg-4 p-md-3">
    {%- assign section = site.data.homepage | where: "title", "About" |
    first -%}
    <div class="c4-feature col-lg-4 col-md-12 border-start border-3 border-dark ms-lg-5 ms-md-3">
      <h1 class="c4-feature-title">{{ section.header[page.lang] }}</h1>
      <p class="c4-feature-subtitle">
        {{ section.subheader[page.lang] }}
      </p>
    </div>
    <div class="c4-feature col-lg-7 col-md-12 pt-4">
      <p>
        {{ section.contents[page.lang] }}
      </p>
    </div>
  </div>
</div>

<div class="page-section px-4 py-lg-3">
  <div class="row justify-content-lg-center p-lg-4">
    {%- assign section = site.data.homepage | where: "title", "Antarctica" |
    first -%} 
    <div class="c4-feature col-lg-4 col-sm-12 col-md-12 pt-lg-4">
      <h1 class="c4-feature-title pt-5">{{ section.header[page.lang] }}</h1>
      <p><em>"{{ section.contents[page.lang] }}"</em></p>
    </div>
    <div class="col-lg-1 col-md-0">&nbsp;</div>
    <div class="c4-feature col-lg-6 col-md-12 px-0">
      <img src="/assets/images/Racovita-pe-Belgica-front-page.jpg"
           class="img-fluid">
           <!--
      <div class="photo-caption">
        <h4 class="text-uppercase">{{ section.caption[page.lang] }}</h4>
      </div>
             -->
    </div>
  </div>
</div>

{% include upcoming.html %}

{% include egida.html %}
