---
layout: default
---

<div class="page-section shaded-bg">
  <div class="row flex-lg-row align-items-start p-4">
    {%- assign section = site.data.homepage | where: "title", "About" | first -%}
    <div class="c4-feature col-sm-3 border-start border-3 border-dark">
      <h1 class="c4-feature-title">{{ section.header[page.lang] }}</h1>
      <p class="c4-feature-subtitle">
        {{ section.subheader[page.lang] }}
      </p>
    </div>
    <div class="c4-feature col-sm-9">
      <p>
        {{ section.contents[page.lang] }}
      </p>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="row flex-lg-row align-items-start p-4">
    {%- assign section = site.data.homepage | where: "title", "Antarctica" | first -%}
    <div class="c4-feature col-sm-6">
      <h1 class="c4-feature-title">{{ section.header[page.lang] }}</h1>
      <p><em>"{{ section.contents[page.lang] }}"</em></p>
    </div>
    <div class="c4-feature col-sm-6 px-0">
      <img src="/assets/images/Racovita-pe-Belgica-front-page.jpg"
           class="img-fluid">
           <!--
      <div class="photo-caption">
        <h4 class="text-uppercase">{{ section.caption[page.lang] }}</h4>
      </div>
             -->
    </div>
  </div>
</div>

{% include upcoming.html %}

{% include egida.html %}
